<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: layoutHeader">
</head>
<div th:replace="layout :: mainLayout"></div>
<main class="container" role="main">
    <div>
        <h1>New User Form</h1>

        <form role="form" th:action="@{registration}" method="POST"
              th:object="${userForm}">
            <div th:if="${#fields.hasErrors('*')}">
                <div class="alert alert-danger" role="alert">
                    <h3 class="alert-heading">It seems we have a couple problems with your input</h3>
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                </div>
            </div>
            <div class="form-group">
                <label>Username: </label> <input class="form-control" type="text" th:field="${userForm.username}"
                                                 placeholder="Username" name="username"/>

                <label>Password: </label> <input class="form-control" type="password" th:field="${userForm.password}"
                                                 placeholder="Password" name="password"/>

                <label>Password Confirm: </label> <input type="password"
                                                         th:field="${userForm.passwordConfirm}" class="form-control"
                                                         placeholder="Password Confirm"/>

                <button type="submit" class="btn btn-success">Register</button>
            </div>
        </form>
        <div>
            <a type="button" class="btn btn-outline-primary" th:href="@{/}">Cancel</a>
        </div>
    </div>
</main>