<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/adminLayoutHeader :: adminLayoutHeader">
</head>
<body>
<div class="row" id="body-row">
    <div th:replace="admin/adminLayoutBody :: adminLayoutBody">

    </div>
    <!-- MAIN -->
    <div class="col py-3">
        <h1>
            New Product
        </h1>

        <form role="form" th:action="@{/admin/product/save}" method="POST"
              th:object="${productForm}">
            <div class="form-group">
                <label>Name: </label> <input class="form-control" type="text" th:field="${productForm.name}"
                                             placeholder="Product name"/>
                <label>Price: </label> <input class="form-control" type="text" th:field="${productForm.price}"
                                              placeholder="Price"/>
                <label>Description: </label> <input type="text"
                                                    th:field="${productForm.description}" class="form-control"
                                                    placeholder="Product description"/>
                <button type="submit" class="btn btn-success">Create Product</button>
            </div>
        </form>
        <div>
            <a type="button" class="btn btn-outline-primary" th:href="@{/admin/product}">Cancel</a>
        </div>

    </div>
</div>

</body>
</html>