<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/adminLayoutHeader :: adminLayoutHeader">
</head>
<body>
<div class="row" id="body-row">
    <div th:replace="admin/adminLayoutBody :: adminLayoutBody">

    </div>
    <!-- MAIN -->
    <div class="col py-3">
        <h1>
            Product Dashboard
        </h1>

        <form class="form-inline my-2 my-lg-0 w-50 mx-auto" th:action="@{/admin/product/search}">
            <div class="form-group">
                <label for="productSearch" class="col-sm-2 col-form-label">Search by Product name</label>
                <input id="productSearch" class="form-control" th:name="productSearch"
                       placeholder="Search" aria-label="Search" type="text">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </div>
        </form>

        <a type="button" class="btn btn-outline-primary" th:href="@{/admin/product/new}">New Product</a>

        <div th:unless="${#lists.isEmpty(foundProducts)}">
            <table id="foundProducts" class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:id="${product.id}" scope="row" th:each="product : ${foundProducts}" th:href="@{~/}">
                    <td th:text="${product.id}">1</td>
                    <td th:text="${product.name}">yes</td>
                    <td th:text="${product.price}">yes</td>
                    <td>
                        <a type="button" class="btn btn-info"
                           th:href="@{~/admin/product/edit/{id}(id=${product.id})}">Edit</a>
                        <button form="deleteProductForm" class="btn btn-danger" type="submit">Delete</button>
                        <form id="deleteProductForm" th:action="@{~/admin/product/delete/{id}(id=${product.id})}"
                              method="POST">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

</body>
</html>