<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="layoutHeader">
    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css"
          th:ref="@{/css/bootstrap.css}"/>
    <link href="/css/eshop.css" rel="stylesheet" type="text/css"
          th:ref="@{/css/eShop.css}"/>
    <link href="/css/payment.css" rel="stylesheet" type="text/css"
          th:ref="@{/css/payment.css}"/>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
</head>

<body>
<div th:fragment="mainLayout">
    <!-- start of carousel code  -->
    <div>
        <div id="carouselExampleControls" class="carousel slide"
             data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/img/1.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/img/2.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/img/3.jpg" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls"
               role="button" data-slide="prev"> <span
                    class="carousel-control-prev-icon" aria-hidden="true"></span> <span
                    class="sr-only">Previous</span>
            </a> <a class="carousel-control-next" href="#carouselExampleControls"
                    role="button" data-slide="next"> <span
                class="carousel-control-next-icon" aria-hidden="true"></span> <span
                class="sr-only">Next</span>
        </a>
        </div>
    </div>
    <!-- end of carousel code  -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark"
         th:fragment="navbar">
        <a class="navbar-brand mx-auto" href="#" th:href="@{~/}">eShop</a>
        <!-- Start of search form -->
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <a class="nav-link" th:href="@{/admin}">ADMIN PANEL</a>
        </div>
        <form id="searchForm" class="form-inline my-2 my-lg-0 w-50 mx-auto" th:action="@{/products/search}">
            <input id="searchBar" class="form-control mr-sm-2 col-lg-10"
                   placeholder="Search" aria-label="Search" type="text" th:name="name">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <!-- End of search form -->
        <!-- Start of menu buttons -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a class="nav-link" th:href="@{~/}">Home
                <span class="sr-only">(current)</span>
            </a></li>
            <li class="nav-item"><a class="nav-link"
                                    th:href="@{~/products/}">Products</a></li>
            <div sec:authorize="isAuthenticated()">
                <li class="nav-item"><a class="nav-link" th:href="@{/cart/}">Cart</a>
            </li>
            </div>
            <li class="nav-item dropdown"><a
                    class="nav-link dropdown-toggle" id="dropdown01"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                <div class="dropdown-menu dropdown-menu-right"
                     aria-labelledby="dropdown01">
                    <div sec:authorize="!isAuthenticated()">
                        <form class="form" role="form" th:action="@{/login}" method="POST">
                            <div class="form-group">
                                <label>USERNAME:</label><input placeholder="Username"
                                                               class="form-control form-control-sm" type="text"
                                                               name="username">
                            </div>
                            <div class="form-group">
                                <label>PASSWORD:</label> <input placeholder="Password"
                                                                type="password" class="form-control form-control-sm"
                                                                name="password">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Login</button>
                            </div>
                            <div class="form-group">
                                <a th:href="@{/registration}">New user? Register here!</a>
                            </div>
                        </form>
                        <div>
                            <a>Register</a>
                        </div>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <ul>
                            <li><a th:href="@{/settings}">User settings</a></li>
                            <li><a th:href="@{/logout}">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
        <!-- End of menu buttons -->


    </nav>


</div>
</body>
</html>